*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/config/database.yml
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/public/uploads/video/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
.idea/.generators
.idea/.name
.idea/.rakeTasks
.idea/workspace.xml
.idea/misc.xml
.idea/RubyOnRailsAppWithPatterns.iml