<div class="container">
  <header class="jumbotron subhead" id="overview">
    <div class="row">
      <div class="span6">
        <h1>WeboCast</h1>
        <p class="lead">The exclusive video library</p>
      </div>

      <div class="span4">
        <div class="bsa well">
          <div id="bsap_1277971" class="bsap_1277971 bsap">
            <div class="bsa_it one">
              <div class="bsa_it_ad ad1 odd" id="bsa_3460053">
                <a href="http://www.webonise.com" target="_blank">
                <span>
                  <img src="<%= asset_path "webonise-logo.png" %>" width="200" height="100" alt="Webonise Lab">
                </span>
                </a>           <br/>

                <span class="bsa_it_d">We can put some text here
                </span>

                <div style="clear:both">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </header>
</div>